.app{
  max-width: 1200px;
  margin: auto;
}

.app nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app nav ul{
  display: flex;
}

.app nav ul li{
  margin:0 20px;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #555555;
}

a.active{
  color: lightblue;
}